BINGX_API_KEY=4Ac4GVhzlMicsvY1JK6dblIrrNh3B013fAT3BYIU3uYbVrscfSw6vlO6QqJ37dZS0zg6yytGAokHqq1nAX56
BINGX_SECRET_KEY=MTQ4ZKvhnHuCx1wePjQ5ynKomr7DNhedQ79KSNnZUJHAH4UCISsg2P0wfyvQeLpEcR561TQyVLLwQFUJpwgX56
BINGX_TESTNET=true

BINANCE_API_KEY=your_binance_api_key
BINANCE_SECRET_KEY=your_binance_api_secret
BINANCE_TESTNET=true

MEXC_API_KEY=your_mexc_api_key
MEXC_SECRET_KEY=your_mexc_api_secret
MEXC_TESTNET=true

PHEMEX_API_KEY=your_phemex_api_key
PHEMEX_SECRET_KEY=your_phemex_api_secret
PHEMEX_TESTNET=true

OANDA_API_KEY=your_oanda_api_key
OANDA_ACCOUNT_ID=your_oanda_account_id

TELEGRAM_BOT_NAME=@LynxionNotifierBot
TELEGRAM_BOT_URL=t.me/LynxionNotifierBot
TELEGRAM_BOT_UPDATE_URL=https://api.telegram.org/bot8324444752:AAGoubuQSgXp6lhQGCxcOtGT6hLg3kTgWbY/getUpdates
TELEGRAM_BOT_TOKEN=8324444752:AAGoubuQSgXp6lhQGCxcOtGT6hLg3kTgWbYX56
TELEGRAM_CHAT_ID=71819811

CMC_API_KEY=26d9a49c-cbd2-4374-8530-b482863f6967-X56
CMC_LISTINGS_URL=https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
CMC_QUOTES_URL=https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest
CMC_EXCLUDED_COINS=BTC,ETH,SOL,ADA,DOT,XRP,DOGE,LINK,BNB,AVAX,MATIC