# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Virtual env
venv/
.env/
/.env

# IDE
.idea/
.vscode/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

# Logs
/logs/

# Other
/tasks/
/data/provenance/
/data/research_cache/
/data/results_storage/
